<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.uama.happinesscommunity.wallet"
>

    <application android:allowBackup="true"
                 android:label="@string/wallet_app_name"
                 android:supportsRtl="true"
                 tools:replace="android:label">

        <activity
            android:name="com.uama.happinesscommunity.wallet.WalletActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
